.content-welcome {
    margin-bottom: 30px;
    font-size: 18px;
}

.heart {
    -webkit-animation: spin 1.2s infinite alternate;
    animation: spin 1.2s infinite alternate;
}

.btn-start {
      padding: 20px 60px 20px 80px;
      background-image: image-url('instagram.svg');
      background-size: 24px 24px;
      background-position: 28px center;
      background-repeat: no-repeat;
      -webkit-transition: all 0.1s linear;
      transition: all 0.1s linear;
  }

      .btn-start:hover {
          -webkit-transform: rotate(1deg) scale(1.05);
          transform: rotate(1deg) scale(1.05);
          box-shadow: 0 0 4px rgba(0,0,0,0.2);
      }

#particles-js {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -100;
}

.intro {
    text-align: center;
}

    .content a {
        color: #fff;
        text-decoration: none;
        &:hover {
            border-bottom: none;
        }
    }

    .content p {
        margin-bottom: 15px;
        &:last-child {
            font-size: 15px;
        }
    }

    .content-logo {
        vertical-align: middle;
        margin-right: 3px;
        margin-left: 3px;
        width: 20px;
        height: 20px;
    }

.start-disclaimer {
    color: lighten($color-primary, 25%);
    font-size: 12px;
    margin-top: 10px;
}


