.analyzer-results_small {
    padding-top: 15px;
    .results-banner {
        display: none;
    }
}

.analyzer-results_small #particles-js {
    display: none;
}

.analyzer-results_small {
    .container {
        max-width: 620px;
    }
}

