<footer class="footer">
    <ul class="footer-nav">
        <li>&copy; <%= Time.now.year %></li>
        <li>Built by <%= link_to "@TylerPearson", "https://twitter.com/tylerpearson", target: "_blank" %> and <%= image_tag('sweeble-logo.svg', alt: "Sweeble logo", height: 14, width: 14) %><%= link_to "Sweeble", "https://www.sweebleapp.com", target: "_blank" %>.</li>
    </ul>
</footer>
